.header {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 40px;
  align-items: flex-start;
  &__form {
    box-shadow: 1px 1px 10px #aaa4;
    padding: 40px 20px;
    margin: 40px 0px;
    border-radius: 10px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa8;
  }

  button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    background-color: blue;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }

  &__card {
    box-shadow: 1px 1px 10px #aaa4;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.4s;
  }

  &__card:hover {
    transform: scale(1.009);
  }

  &__card__img {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  &__card__info {
    padding: 10px;
  }

  &__card__btns {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 0px 10px 10px 10px;

    button {
      padding: 4px 10px !important;
      width: 100px !important;
    }
  }

  &__card-delete {
    padding: 10px;
    background-color: red !important;
  }
}
